<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12 text-center" id="top-bar">
                <h1>
                    Welcome to the Fantasy Burger Cafe!
                </h1>
                <h3>(the place to devour ANY and EVERY kind of Burger!!)</h3>
                <img src="assets/img/burger-neon.jpg" class="" alt="blt cheese burger" />

                <div class="row">
                    <div class="col-sm">
                        <div class="holds-input">
                            <h2 class="input-item subtitle">Order your dream burger at the window, and hit "submit"!
                            </h2>

                            {{!-- <form class="create-form input-item"> --}}
                            <form action="/burgers/create" method="POST" class="button-size">
                                <div class="form-group">
                                    <label for="ca"></label>
                                    <input type="text" id="ca" name="burger_name">
                                </div>
                                <button class="submit-button" type="submit">Submit!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row holds-all-burgers">
                    <div class=" col-sm-5 holds-half">
                        <h2 class="subtitle">Dream Burgers</h2>
                        <div>
                            <ul>
                                {{#each burger_data}}
                                {{#unless this.devoured}}
                                <input type="" name="burger_name" type="text" value={{this.burger_name}}>
                                {{!-- <pre>{{this.burger_name}}</pre> --}}
                                {{/unless}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class=" col-sm-5 holds-half">

                        <h2 class="subtitle">Devoured Burgers</h2>
                        <div>
                            <ul>
                                {{#each burger_data}}
                                {{#if this.devoured}}
                                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}"
                                    readonly>
                                {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>