body {
  background-image: url("../img/mixed-burgers.jpg");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}

.jumbotron {
  background-color: gold;
  color: orangered;
  margin-top: 100px;
  opacity: 0.95;
}

button {
  background-color: orangered;
}

img {
  height: 180px;
  width: 250px;
  margin: 40px;
}

h1,
h3,
h2 {
  font-family: "Finger Paint", cursive;
  /* font-family: "Permanent Marker", cursive; */
  /* font-family: "Princess Sofia", cursive; */
  text-align: center;
}

h2 {
  margin: 20px;
}

footer {
  width: 100%;
  background-color: gold;
  color: orangered;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  padding: 30px;
  opacity: 0.9;
}

#footer-text {
  padding-top: 28px;
}
/* .subtitle-2 {
  padding-left: 90px;
  margin: 30px 0 120px 150px;
} */
